* { box-sizing: border-box; }
body {
  color: #182359;
  background-color: #f6fffe;
  padding: 0rem 2rem;
  font-family: Raleway;
}
h1 {
  font-family: Raleway;
  position: relative;
  text-align: center;
  font-size: 2.2rem;
}
h1:after {
  content: "";
  position: absolute;
  bottom: -.5rem;
  width: 30px;
  height: 2px;
  left: 50%;
  margin-left: -15px;
  display: block;
  background-color: #2dde98;
}
small {
  display: block;
  text-align: center;
}
a { color: #00AEFF; }
img { width: 800px; border: 2px solid #357edd; border-radius: 10px; margin: 0 auto; display: block;}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Highlight';
  src: url('../fonts/Highlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#i {
  width: 50%;
  margin: 1rem 25% 0 25%;
  padding-left: .5rem;
  height: 2.5rem;
  border-width: .125rem;
  border-radius: .25rem;
  border-color: #357edd;
  border-style: solid;
  outline: 0;
  font: inherit;
}

#i ~ section {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem auto 0 auto;
  max-width: 1240px;
}

#i ~ section div,
#i ~ section a {
  display: none;
  flex: 1 1 300px;
  height: 300px;
  max-width: 300px;
  margin: 0 0 10px 10px;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-size: 200px;
  font-family: 'Highlight';
  padding-top: 220px;
  position: relative;
}
#i ~ section div:before {
  text-align:center;
  display: block;
  white-space: pre;
  /* Role */
  font-style: italic;
  font-size: .9rem;
  font-family: 'Highlight';
}
/* Name (overriding role) */
#i ~ section div:first-line {
  font-style: normal;
  font-weight:bold;
  font-size: 1.2rem;
  line-height: 2rem;
}
#i ~ section div:after {
  display: flex;
  height: 200px;
  width: 180px;
  padding: 0 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  background: rgba(24,35,89,0.6);
  border-radius: 50%;
  white-space: pre-line;
  color: white;
  line-height: 1.5rem;
  font-family: 'Raleway';
  opacity: 0;
  transition: opacity 0.12s ease-in;
}
#i ~ section div:hover:after {
  opacity: 1;
}

/* Open positions link */
#i ~ section a {
  display: block;
  height: auto;
  padding: 0;
  color: #182359;
  text-decoration: none;
  order: 9999;
}
#i ~ section a div {
  display: block;
  margin: 0;
  flex: none;
  background-image:url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_220,h_220,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-you.jpg)
}
#i ~ section a div:before {
  content: 'We are hiring\A See open positions';
  color: #00aeff;
  font-style: normal;
}
#i ~ section a div:first-line {
  color: #182359;
}
#i ~ section a:hover div:before {
  color: #007ab3;
  font-weight: bold;
}

/* Result count */
#r {
  display: block;
  margin: 0 25%;
  font-size: .9rem;
  font-style: italic;
  padding-left: 1rem;
  text-align: right;
}
#r:after { content: " results"; }
#r:before { content: "0"; }


input[type="radio"] { display: none; }

/**
 * Facet labels are contained in an aside, and have a class from f0 to f6, with
 * fx being special and used to display the currently selected facet
 **/
aside {
  display: flex;
  flex-flow: row wrap;
  margin: 1rem auto 0 auto;
  max-width: 1240px;
  justify-content: center;
  position: relative;
}
aside label {
  position: relative;
  display: none;
  flex: 1 1 content;
  margin: 0 0 10px 10px;
  border: 2px solid #9d9dbd;
  border-right: none;
  border-radius: 9999px;
  padding: 0 35px 0 .5rem;
  height: 2rem;
  line-height: 2rem;
  color: #182359;
  cursor: pointer;
  overflow: hidden;
}
aside label:after {
  position: absolute;
  top: 0px;
  bottom: 0;
  right: 0px;
  width: 30px;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  color: white;
  font-weight: bold;
  text-align: center;
  background: #9D9DBD;
}
aside label:hover {
  background: #00AEFF;
  color: white;
  border-color: #00AEFF;
}
aside label:hover:after {
  background: #00AEFF;
}
/**
 * This label is used to display the currently selected facet. Because it is
 * linked to an "unused" radio button, users can "unselect" the facet by
 * clicking on it
 **/
label[for=fx] { 
  background: #3369E7;
  color: white;
  border-color: #3369E7;
  display: none; 
}
label[for=fx]:after { 
  background: #3369E7;
}
