@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Highlight';
  src: url('../fonts/Highlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #182359;
  background-color: #f6fffe;
  padding: 0rem 2rem;
  font-family: Raleway;
}

h1 {
  font-family: Raleway;
  position: relative;
  text-align: center;
  font-size: 2.2rem;
}
h1:after {
  content: "";
  position: absolute;
  bottom: -.5rem;
  width: 30px;
  height: 2px;
  left: 50%;
  margin-left: -15px;
  display: block;
  background-color: #2dde98;
}

small {
  display: block;
  text-align: center;
}

input[type="text"] {
  width: 50%;
  margin: 1rem 25% 1rem 25%;
  padding-left: .5rem;
  height: 2.5rem;
  border-width: .125rem;
  border-radius: .25rem;
  border-color: #357edd;
  border-style: solid;
  outline: 0;
}

input[type="text"] + div {
  display: flex;
  flex-flow: row wrap;
  margin-top: 1rem;
}

input[type="text"] + div div {
  flex: 1 1 300px;
  height: 300px;
  margin: 0 0 1rem 1rem;;
  background-repeat: no-repeat;
  background-position: 50% 0px;
  background-size: 200px;
  font-family: 'Highlight';
  padding-top: 220px;
  position: relative;
}
input[type="text"] + div div:before {
  text-align:center;
  display: block;
  white-space: pre;
  /* Role */
  font-style: italic;
  font-size: .9rem;
  font-family: 'Raleway';
}
/* Name (overriding role) */
input[type="text"] + div div:first-line {
  font-style: normal;
  font-weight:bold;
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: 'Highlight';
}
input[type="text"] + div div:after {
  display: flex;
  height: 200px;
  width: 180px;
  padding: 0 10px;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -100px;
  background: rgba(24,35,89,0.6);
  border-radius: 50%;
  white-space: pre-line;
  color: white;
  line-height: 1.5rem;
  font-family: 'Raleway';
  opacity: 0;
  transition: opacity 0.12s ease-in;
}
input[type="text"] + div div:hover:after {
  opacity: 1;
