@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Highlight';
  src: url('../fonts/Highlight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.results {
  height: 40px;
  line-height: 25px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: 40px;
  font-family: 'Highlight';
  /* font-weight:bold; */
}
