.searchbar + div:before { font-weight: bold; }
body:before{content:""; display:none; background:url()}
input[value='T' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='T' i] + div:before {
content: '___T___im Carry'
}
input[value='Ti' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Ti' i] + div:before {
content: '___Ti___m Carry'
}
input[value='Tim' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Tim' i] + div:before {
content: '___Tim___ Carry'
}
input[value='Tim ' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Tim ' i] + div:before {
content: '___Tim ___Carry'
}
input[value='Tim C' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Tim C' i] + div:before {
content: '___Tim C___arry'
}
input[value='Tim Ca' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Tim Ca' i] + div:before {
content: '___Tim Ca___rry'
}
input[value='Tim Car' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Tim Car' i] + div:before {
content: '___Tim Car___ry'
}
input[value='Tim Carr' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Tim Carr' i] + div:before {
content: '___Tim Carr___y'
}
input[value='Tim Carry' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Tim Carry' i] + div:before {
content: '___Tim Carry___'
}
input[value='C' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='C' i] + div:before {
content: 'Tim ___C___arry'
}
input[value='Ca' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Ca' i] + div:before {
content: 'Tim ___Ca___rry'
}
input[value='Car' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Car' i] + div:before {
content: 'Tim ___Car___ry'
}
input[value='Carr' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Carr' i] + div:before {
content: 'Tim ___Carr___y'
}
input[value='Carry' i] + div {
background-image: url(https://res.cloudinary.com/pixelastic-parisweb/image/fetch/w_50,h_50,q_90,c_scale,r_max,f_auto,e_grayscale/https://www.algolia.com/static_assets/images/about-tim.jpg);
background-color: green;
}
input[value='Carry' i] + div:before {
content: 'Tim ___Carry___'
}