/*
Error: File to import not found or unreadable: ./../../node_modules/algolia-frontend-components/components/communityHeader/communityHeader.
        on line 21 of /home/tim/local/www/algolia/clients/algoliasearch-client-css/website/source/stylesheets/site.css.scss

16: @import 'components/modal';
17: @import 'components/header';
18: @import 'components/footer';
19: @import 'components/message';
20: 
21: @import './../../node_modules/algolia-frontend-components/components/communityHeader/communityHeader';

Backtrace:
/home/tim/local/www/algolia/clients/algoliasearch-client-css/website/source/stylesheets/site.css.scss:21
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/import_node.rb:67:in `rescue in import'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/import_node.rb:45:in `import'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/import_node.rb:28:in `imported_file'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/import_node.rb:37:in `css_import?'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/home/tim/.rvm/gems/ruby-2.4.2/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/renderers/sass.rb:68:in `evaluate'
/home/tim/.rvm/gems/ruby-2.4.2/gems/tilt-2.0.7/lib/tilt/template.rb:109:in `render'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/file_renderer.rb:79:in `render'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_reference.rb:43:in `send_to'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/call_with.rb:76:in `call_with'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_handler.rb:138:in `block in redefine_method'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/template_renderer.rb:184:in `_render_with_all_renderers'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/template_renderer.rb:147:in `block in render'
/home/tim/.rvm/gems/ruby-2.4.2/gems/activesupport-5.0.2/lib/active_support/notifications.rb:166:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/util.rb:21:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/template_renderer.rb:146:in `render'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_reference.rb:43:in `send_to'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/call_with.rb:76:in `call_with'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_handler.rb:138:in `block in redefine_method'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/sitemap/resource.rb:154:in `render'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_reference.rb:43:in `send_to'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/call_with.rb:76:in `call_with'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_handler.rb:138:in `block in redefine_method'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/rack.rb:112:in `process_request'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/rack.rb:66:in `block in call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/rack.rb:65:in `catch'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/rack.rb:65:in `call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/urlmap.rb:68:in `block in call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/urlmap.rb:53:in `each'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/urlmap.rb:53:in `call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/core_extensions/inline_url_rewriter.rb:74:in `call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/head.rb:12:in `call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/lint.rb:49:in `_call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/lint.rb:37:in `call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/builder.rb:153:in `call'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/mock.rb:74:in `request'
/home/tim/.rvm/gems/ruby-2.4.2/gems/rack-2.0.1/lib/rack/mock.rb:56:in `get'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/builder.rb:232:in `block in output_resource'
/home/tim/.rvm/gems/ruby-2.4.2/gems/activesupport-5.0.2/lib/active_support/notifications.rb:166:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/util.rb:21:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/builder.rb:225:in `output_resource'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_reference.rb:43:in `send_to'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/call_with.rb:76:in `call_with'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_handler.rb:138:in `block in redefine_method'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:482:in `call_with_index'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:453:in `process_incoming_jobs'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:435:in `block in worker'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:426:in `fork'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:426:in `worker'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:417:in `block in create_workers'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:416:in `each'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:416:in `each_with_index'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:416:in `create_workers'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:358:in `work_in_processes'
/home/tim/.rvm/gems/ruby-2.4.2/gems/parallel-1.11.1/lib/parallel.rb:264:in `map'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/builder.rb:137:in `output_resources'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_reference.rb:43:in `send_to'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/call_with.rb:76:in `call_with'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_handler.rb:138:in `block in redefine_method'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/builder.rb:97:in `block in prerender_css'
/home/tim/.rvm/gems/ruby-2.4.2/gems/activesupport-5.0.2/lib/active_support/notifications.rb:166:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/util.rb:21:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/builder.rb:95:in `prerender_css'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_reference.rb:43:in `send_to'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/call_with.rb:76:in `call_with'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_handler.rb:138:in `block in redefine_method'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/builder.rb:65:in `block in run!'
/home/tim/.rvm/gems/ruby-2.4.2/gems/activesupport-5.0.2/lib/active_support/notifications.rb:166:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/util.rb:21:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/builder.rb:64:in `run!'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_reference.rb:43:in `send_to'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/call_with.rb:76:in `call_with'
/home/tim/.rvm/gems/ruby-2.4.2/gems/contracts-0.13.0/lib/contracts/method_handler.rb:138:in `block in redefine_method'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-cli-4.2.1/lib/middleman-cli/build.rb:80:in `block in build'
/home/tim/.rvm/gems/ruby-2.4.2/gems/activesupport-5.0.2/lib/active_support/notifications.rb:166:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-core-4.2.1/lib/middleman-core/util.rb:21:in `instrument'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-cli-4.2.1/lib/middleman-cli/build.rb:79:in `build'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/command.rb:27:in `run'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/invocation.rb:126:in `invoke_command'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/invocation.rb:133:in `block in invoke_all'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/invocation.rb:133:in `each'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/invocation.rb:133:in `map'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/invocation.rb:133:in `invoke_all'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/group.rb:232:in `dispatch'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/invocation.rb:115:in `invoke'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor.rb:40:in `block in register'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/command.rb:27:in `run'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/invocation.rb:126:in `invoke_command'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor.rb:369:in `dispatch'
/home/tim/.rvm/gems/ruby-2.4.2/gems/thor-0.19.4/lib/thor/base.rb:444:in `start'
/home/tim/.rvm/gems/ruby-2.4.2/gems/middleman-cli-4.2.1/bin/middleman:70:in `<top (required)>'
/home/tim/.rvm/gems/ruby-2.4.2/bin/middleman:23:in `load'
/home/tim/.rvm/gems/ruby-2.4.2/bin/middleman:23:in `<main>'
/home/tim/.rvm/gems/ruby-2.4.2/bin/ruby_executable_hooks:15:in `eval'
/home/tim/.rvm/gems/ruby-2.4.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ./../../node_modules/algolia-frontend-components/components/communityHeader/communityHeader.\A         on line 21 of /home/tim/local/www/algolia/clients/algoliasearch-client-css/website/source/stylesheets/site.css.scss\A \A 16: @import 'components/modal';\A 17: @import 'components/header';\A 18: @import 'components/footer';\A 19: @import 'components/message';\A 20: \A 21: @import './../../node_modules/algolia-frontend-components/components/communityHeader/communityHeader';"; }
