.card
  border-radius: 4px
  padding: 52px 32px
  background: white

  h3
    font-size: 20px
    text-transform: uppercase
    color: $royal-blue

  &:hover
    box-shadow: 0 0 48px rgba(52,105,231, .15)

