
.cta-free-trial
  margin-top: -16px
  padding: 160px 0 80px
  width: 100%
  color: $white
  background-image: url('../images/algolia-fast-bg.svg')
  background-size: cover
  position: relative

  small
    font-size: 1.2em
    margin-bottom: 6px
  .container
    z-index: 10
    width: 100%
    max-width: 800px

  @include diagonal(-6deg, $white, 200px, before)
    top: -100px
    left: 0
    z-index: 0

    @media (max-width: $screen-sm)
      display: none


  h3
    font-size: 32px
    color: $white
    font-weight: 300
    line-height: 32px
    margin: 0
  p
    font-size: 18px
    line-height: 28px
    color: $white
    font-weight: $regular
    padding: 0 5em

    @media (max-width: $screen-md)
      padding: 0 4em

    @media (max-width: $screen-sm)
      padding: 0 1em

  .btn
    clear: both
    padding: 18px 30px
    height: auto
    line-height: inherit
    font-weight: bold

  .spacer24,
  .spacer8
    display: inline-block

  .link
    clear: both
    padding: 8px 0 0
    float: right
    color: rgba($titan-white,.8)
    border-bottom: 1px dashed rgba(255,255,255,.6)

    &:hover
      text-decoration: none
      color: $titan-white

  @media (max-width: $screen-md)
    text-align: center

    .btn
      float: none !important
      margin-bottom: 1em

    .link
      float: none !important
