.message-holder
  .container
    .row.text-center
      %span.text-large 🎉&nbsp;&nbsp;
      %p Happy April Fools! <a href="https://blog.algolia.com/js-is-dead-all-hail-css/" title="Read our fake announcement">It was all a joke</a>. Take a peek behind the curtain to see <a href="https://blog.algolia.com/how-we-built-the-real-demo-for-our-fake-css-api-client/" title="Check out the technical details of how we built it">how it was built</a>.
.hero.pos-rel.color-white.h600.text-center
  .spacer120
  .container
    = inline_svg "project-logo.svg"
    .shadow

    .spacer40

    %h1 CSS API Client
    %h3 The power of Algolia distilled into a single .css file
    .spacer40
    %a.btn.btn-static-primary.btn-static-shadow-dark.gradient-purple-revert#cta-demo{:href => "./demo", :title => "Try the live demo"} Try it live!
     
    %a.btn.btn-static-primary.btn-static-shadow-dark.fill-white.color-royal-blue#cta{:href => "#download", :title => "Download the CSS API Client"} Download v1.4.17
  .spacer64
