.message-holder
  .container
    .spacer16
    .row.text-center
      %span.text-large 🎉&nbsp;&nbsp;
      %p Happy fools day! <a href="https://blog.algolia.com/js-is-dead-all-hail-css/" title="Read our blogpost about the project">It was all a joke</a>!&nbsp;&nbsp; You can see <a href="#" title="Discover the backstages of the April's fool joke">how we did it</a>!
    .spacer8
.hero.pos-rel.color-white.h600.text-center
  .spacer120
  .container
    = inline_svg "project-logo.svg"
    .shadow

    .spacer40

    %h1 CSS API Client
    %h3 The power of Algolia distilled into a single .css file
    .spacer40
    %a.btn.btn-static-primary.btn-static-shadow-dark.gradient-purple-revert#cta-demo{:href => "./demo", :title => "Try the live demo"} Try it live!
     
    %a.btn.btn-static-primary.btn-static-shadow-dark.fill-white.color-royal-blue#cta{:href => "#download", :title => "Download the CSS API Client"} Download v1.4.17
  .spacer64
