.hero.pos-rel.color-white.h600.text-center
  .spacer80
  .container
    = image_tag "images/project-logo.svg", class:"project-logo"

    .spacer40

    %h1 CSS API Client
    %h3 All the power of Algolia distilled down into a single .css file
    .spacer40
    %a.btn.btn-static-primary.btn-static-shadow-dark.fill-white.color-royal-blue.p-r-xlarge.p-l-xlarge#cta{:href => ""} Download v1.4.17
  .spacer64
