.hero.pos-rel.color-white.h600.text-center
  .spacer120
  .container
    = image_tag "project-logo.svg"

    .spacer40

    %h1 CSS API Client
    %h3 The power of Algolia distilled into a single .css file
    .spacer40
    %a.btn.btn-static-primary.btn-static-shadow-dark.gradient-purple-revert#cta-demo{:href => "./demo", :title => "Try the live demo"} Try it live!
     
    %a.btn.btn-static-primary.btn-static-shadow-dark.fill-white.color-royal-blue#cta{:href => "#download", :title => "Download the CSS API Client"} Download v1.4.17
  .spacer64
