%section.introduction.pos-rel.z-10.text-center.fill-white
  .spacer120
  .container
    %header.col-md-8.col-md-offset-2.text-center
      %h2 CSS is Awesome

    .inline.spacer24

    .row.col-md-10.col-md-offset-1
      %p CSS is one of the most stable and powerful languages of our era. It runs in every browser and is the perfect candidate for an offline search engine.

    .inline.spacer40
    .col-md-12
      .col-md-4.card
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179933/illus-feat-magic.svg", :alt => ""}/
        %h3 No JavaScript

      .col-md-4.card
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179933/illus-feat-magic.svg", :alt => ""}/
        %h3 Works offline

      .col-md-4.card
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179933/illus-feat-magic.svg", :alt => ""}/
        %h3 Unlimited Operations

  .spacer120


%section.demo.gradient-purple.pos-rel.z-10.h600
  .spacer40.inline
  .container.hfull
    .col-md-10.col-md-offset-1.pos-abt.hfull.pos-rel
      = inline_svg "browser.svg", "m100p"
      %a.btn.btn-static-secondary.btn-static-shadow-dark.pos-abt{:href => "./demo"} Live demo

      .gif-container.pos-abt.m100p.hidden-xs
        = image_tag "images/screencast.gif", class: 'pos-abt'

%section.features
  .spacer120
  .container
    %header.text-center
      %h2 Packed with features
    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold Offline mode
        %p
          This is the first API Client in history that does not make any call to an actual API.
          As long as you've downloaded the initial CSS file, you can search even without an internet connection.
          That's what we call Offline Search!

    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold No JavaScript needed
        %p
          Stop wasting time wondering if you should put your CSS inside your JS or in a separate file. 
          CSS is so powerful that you won't be needing JavaScript anymore. That's right, we decided to get rid of JavaScript altogether.

    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold Flexbox
        %p
          What would CSS be without flexbox? Flexbox is the best thing that happened to the web since the <code>blink</code> tag.
          With it you can solve one of the most complex tech challenges: vertically centering any element! With such power, building a search engine was a breeze.

    .spacer120


%section.quotes
  .spacer120
  .spacer40
  .container.pos-rel.z-10
    %header.text-center
      %h2 What are others saying
    .spacer80
    .col-md-12
      .col-md-6
        .quote.text-center.red
          %p
            What was I thinking putting CSS in JS? I see now that building pure-CSS apps is the future!
          %img{:src => "#", :alt => ""}/
          %small
            Christopher Chedeau -
            %a{:href => "https://facebook.com"} Facebook
      .col-md-6
        .quote.text-center.blue
          %p
            The only thing better than a static website is a static search engine.
          %img{:src => "#", :alt => ""}/
          %small
            Vitaly Friedman -
            %a{:href => "https://www.smashingmagazine.com/"} SmashingMagazine

      .inline.spacer80
      .col-md-6
        .quote.text-center.white
          %p
            Javascript is dead.
          %img{:src => "#", :alt => ""}/
          %small
            Chris Coyier -
            %a{:href => "https://css-tricks.com/"} CSS-Tricks
      .col-md-6
        .quote.text-center.red
          %p
            This is the best thing that happened since slice bread.
          %img{:src => "#", :alt => ""}/
          %small
            Christophe Porteneuve -
            %a{:href => "https://twitter.com/porteneuve"} On Twitter

      .inline.spacer80
      .col-md-6
        .quote.text-center.white
          %p
            With Algolia, we can finally deliver an entire search experience inside of your inbox.
          %img{:src => "#", :alt => ""}/
          %small
            Nicolas Garnier - 
            %a{:href => "https://www.mailjet.com/"} Mailjet
      .col-md-6
        .quote.text-center.blue
          %p
            Given the success of this project, we’re now eagerly awaiting Algolia’s CSS Popup and CSS Ad Tracking APIs.
          %img{:src => "#", :alt => ""}/
          %small
            Sacha Greif -
            %a{:href => "http://stateofjs.com/"} State Of Javascript

      .inline.spacer80
      .col-md-6
        .quote.text-center.blue
          %p
            Finally, a search engine written in pure CSS. This will change the way developers search for articles on how to write CSS.
          %img{:src => "#", :alt => ""}/
          %small SitePoint


      .col-md-6
        .quote.text-center.red
          %p
            What was I thinking putting CSS in JS? I see now that building pure-CSS apps is the future!
          %img{:src => "#", :alt => ""}/
          %small Lea Verou, CSSWG


  .spacer120.inline
  .spacer120.inline


.cta-free-trial
  .container
    .row
      .col-md-6
        %h3 Get Started Today, For Free
        %p Don't wait! Try Algolia! No credit card required. <span class="clearfix"></span> Try Algolia for free for 14 days.
      .col-md-6
        .spacer16
        %a.btn.btn-static-dark{:href => "users/sign_up"}
          Open a Free Community account
          %i.icon-arrow-right
