%section.introduction.pos-rel.z-10.text-center.fill-white
  .spacer120
  .container
    %header.col-md-8.col-md-offset-2.text-center
      %h2 We recoded the engine from scratch in CSS

    .inline.spacer24

    .row.col-md-10.col-md-offset-1
      %p Our V1 of the engine was coded in C++. But when we saw all those widths, margins and paddings we knew CSS was the best language for a complete rewrite

    .inline.spacer40
    .col-md-12
      .col-md-4.card
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179933/illus-feat-magic.svg", :alt => ""}/
        %h3 Works offline

      .col-md-4.card
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179933/illus-feat-magic.svg", :alt => ""}/
        %h3 Unlimited Operations

      .col-md-4.card
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179933/illus-feat-magic.svg", :alt => ""}/
        %h3 No Javascript Needed

  .spacer120


%section.demo.gradient-purple.pos-rel.z-10.h600
  .spacer40.inline
  .container.hfull
    .col-md-10.col-md-offset-1.pos-abt.hfull.pos-rel
      = inline_svg "browser.svg", "m100p"
      %a.btn.btn-static-secondary.btn-static-shadow-dark.pos-abt{:href => "#"} Live demo

      .gif-container.pos-abt.m100p.hidden-xs
        = image_tag "images/screencast.gif", class: 'pos-abt'

%section.features
  .spacer120
  .container
    %header.text-center
      %h2 CSS is Awesome
    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold Works Offline
        %p
          Who needs a comprehensive API and good documentation when you can have
          highly minified CSS? Who needs analytics, dedicated support or a premium SLA when you can have flexbox? Ah… flexbox…
    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold No Javascript needed
        %p
          Who needs a comprehensive API and good documentation when you can have
          highly minified CSS? Who needs analytics, dedicated support or a premium SLA when you can have flexbox? Ah… flexbox…

    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold Instant Faceting
        %p
          Who needs a comprehensive API and good documentation when you can have
          highly minified CSS? Who needs analytics, dedicated support or a premium SLA when you can have flexbox? Ah… flexbox…

    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold Synonyms
        %p
          Who needs a comprehensive API and good documentation when you can have
          highly minified CSS? Who needs analytics, dedicated support or a premium SLA when you can have flexbox? Ah… flexbox…
    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold As you type experience
        %p
          Who needs a comprehensive API and good documentation when you can have
          highly minified CSS? Who needs analytics, dedicated support or a premium SLA when you can have flexbox? Ah… flexbox…

    .spacer120
    .row
      .col-md-6.text-center.m100p
        %figure
          %img{:src => "https://res.cloudinary.com/hilnmyskv/image/upload/v1461179932/illus-feat-faceted.svg", :alt => ""}/

      .col-md-6
        %h3.bold Highlighting
        %p
          Who needs a comprehensive API and good documentation when you can have
          highly minified CSS? Who needs analytics, dedicated support or a premium SLA when you can have flexbox? Ah… flexbox…

    .spacer120


%section.quotes
  .spacer120
  .spacer40
  .container.pos-rel.z-10
    %header.text-center
      %h2 Our clients words!
    .spacer80
    .col-md-12
      .col-md-6
        .quote.text-center.white
          %p
            Javascript is dead.
          %img{:src => "#", :alt => ""}/
          %small
            Chris Coyier -
            %a{:href => "https://css-tricks.com/"} CSS-Tricks


      .col-md-6
        .quote.text-center.blue
          %p
            Given the success of this project, we’re now eagerly awaiting Algolia’s CSS Popup and CSS Ad Tracking APIs.
          %img{:src => "#", :alt => ""}/
          %small
            Sacha Greif -
            %a{:href => "http://stateofjs.com/"} State Of Javascript



      .inline.spacer80
      .col-md-6
        .quote.text-center.red
          %p
            This is the best thing that happened since slice bread.
          %img{:src => "#", :alt => ""}/
          %small
            Christophe Porteneuve -
            %a{:href => "https://twitter.com/porteneuve"} On Twitter


      .col-md-6
        .quote.text-center.white
          %p
            With Algolia, we can finally deliver an entire search experience inside of your inbox.
          %img{:src => "#", :alt => ""}/
          %small
            Nicolas Garnier - Developer Evangelist at
            %a{:href => "https://www.mailjet.com/"} Mailjet


      .inline.spacer80
      .col-md-6
        .quote.text-center.blue
          %p
            The only thing better than a static website is a static search engine.
          %img{:src => "#", :alt => ""}/
          %small
            Vitaly Friedman -
            %a{:href => "https://www.smashingmagazine.com/"} SmashingMagazine


      .col-md-6
        .quote.text-center.red
          %p
            What was I thinking putting CSS in JS? I see now that building pure-CSS apps is the future!
          %img{:src => "#", :alt => ""}/
          %small
            Christopher Chedeau / @vjeux -
            %a{:href => "https://facebook.com"} Facebook

      .inline.spacer80
      .col-md-6
        .quote.text-center.blue
          %p
            Finally, a search engine written in pure CSS. This will change the way developers search for articles on how to write CSS.
          %img{:src => "#", :alt => ""}/
          %small SitePoint


      .col-md-6
        .quote.text-center.red
          %p
            What was I thinking putting CSS in JS? I see now that building pure-CSS apps is the future!
          %img{:src => "#", :alt => ""}/
          %small Lea Verou, CSSWG


  .spacer120.inline
  .spacer120.inline


.cta-free-trial
  .container
    .row
      .col-md-6
        %h3 Get Started Today, For Free
        %p Don't wait! Try Algolia! No credit card required. <span class="clearfix"></span> Try Algolia for free for 14 days.
      .col-md-6
        .spacer16
        %a.btn.btn-static-dark{:href => "users/sign_up"}
          Start FREE Trial
          %i.icon-arrow-right
        .spacer8
        %a{:href => '/schedule-demo', :class => "link"} I’d rather schedule a demo with a Product Specialist
