.modal.elevation1.z-10.hidden#modal
  .the-modal
    %a.modal--close.btn.btn-static-secondary.hidden-xs{:href => "#"}
      %span.icon.icon-cancel
    %a.modal--close.btn.btn-static-secondary.visible-xs{:href => "#"} close modal
    %header.text-center
      .h100
    .modal--inner
      %section
        %h2
          Happy
          %br/
          April Fools day!
        %p.text-center.color-bunting
          We're glad you think our CSS API Client would be a great idea — we're passionate about CSS.
        %p.text-center.color-bunting
          For now though, you'll have to use one of our 
          %strong real
          API Clients to build your next great search UX.
        .col-md-12.chapter-wrap
          %span.spacer16
          .chapter
            %h3.text-center API Clients
            .spacer32
            .api-inte-list.clearfix
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/php/"}
                  %img.m-l-r-auto{:alt => "Php", :src => "https://algolia.com/doc/assets/images/languages/php-53888094.svg"}/
                  %h4.text-ellipsis PHP
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/ruby/"}
                  %img.m-l-r-auto{:alt => "Ruby", :src => "https://algolia.com/doc/assets/images/languages/ruby-00bdd41f.svg"}/
                  %h4.text-ellipsis Ruby
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/javascript/"}
                  %img.m-l-r-auto{:alt => "Javascript", :src => "https://algolia.com/doc/assets/images/languages/javascript-68104683.svg"}/
                  %h4.text-ellipsis JavaScript
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/python/"}
                  %img.m-l-r-auto{:alt => "Python", :src => "https://algolia.com/doc/assets/images/languages/python-dd5a8a8d.svg"}/
                  %h4.text-ellipsis Python
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/swift/"}
                  %img.m-l-r-auto{:alt => "Swift", :src => "https://algolia.com/doc/assets/images/languages/swift-4cb5cf0e.svg"}/
                  %h4.text-ellipsis iOS
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/android/"}
                  %img.m-l-r-auto{:alt => "Android", :src => "https://algolia.com/doc/assets/images/languages/android-f03624e7.svg"}/
                  %h4.text-ellipsis Android
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/csharp/"}
                  %img.m-l-r-auto{:alt => "Csharp", :src => "https://algolia.com/doc/assets/images/languages/csharp-4075daa3.svg"}/
                  %h4.text-ellipsis C#
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/java/"}
                  %img.m-l-r-auto{:alt => "Java", :src => "https://algolia.com/doc/assets/images/languages/java-65dd222f.svg"}/
                  %h4.text-ellipsis Java
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/go/"}
                  %img.m-l-r-auto{:alt => "Go", :src => "https://algolia.com/doc/assets/images/languages/go-5f1359de.svg"}/
                  %h4.text-ellipsis Go
              %article.guide-sm.text-center
                %a{:href => "https://algolia.com/doc/api-client/scala/"}
                  %img.m-l-r-auto{:alt => "Scala", :src => "https://algolia.com/doc/assets/images/languages/scala-bce891cf.svg"}/
                  %h4.text-ellipsis Scala
        .text-center
          %a.btn.btn-static-dark.btn-shadow{:href => "https://www.algolia.com/users/sign_up"} Start Building on Algolia
        .spacer32

